pipeline/FishingEventsProcessingPipeline.json
{
  "name": "FishingEventsProcessingPipeline",
  "properties": {
    "description": "Pipeline to fetch and process Global Fishing Watch fishing events data for port visit analysis",
    "activities": [
      {
        "name": "GetGfwApiToken",
        "type": "WebActivity",
        "dependsOn": [],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": true
        },
        "typeProperties": {
          "url": "https://seafood-analysis-kv.vault.azure.net/secrets/gfwapitoken?api-version=7.4",
          "method": "GET",
          "authentication": {
            "type": "MSI",
            "resource": "https://vault.azure.net"
          },
          "connectVia": {
            "referenceName": "AzureKeyVault",
            "type": "LinkedServiceReference"
          }
        }
      },
      {
        "name": "SetGfwToken",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "GetGfwApiToken",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "variableName": "gfwToken",
          "value": {
            "value": "@activity('GetGfwApiToken').output.value",
            "type": "Expression"
          }
        }
      },
      {
        "name": "FetchFishingEventsFromGFW",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "SetGfwToken",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "typeProperties": {
          "url": "https://gateway.api.globalfishingwatch.org/v3/events/stats",
          "method": "POST",
          "headers": {
            "Authorization": {
              "value": "@concat('Bearer ', variables('gfwToken'))",
              "type": "Expression"
            },
            "Accept": "application/json",
            "Content-Type": "application/json"
          },
          "body": {
            "confidences": ["3", "4"],
            "datasets": ["public-global-port-visits-events:latest"],
            "startDate": "@formatDateTime(addDays(utcnow(), -30), 'yyyy-MM-dd')",
            "endDate": "@formatDateTime(utcnow(), 'yyyy-MM-dd')",
            "timeseriesInterval": "DAY"
          }
        }
      },
      {
        "name": "LoadFishingEventsToSQL",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "FetchFishingEventsFromGFW",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "enableStaging": false,
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "event_id",
                  "type": "String"
                },
                "sink": {
                  "name": "EventId",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "event_type",
                  "type": "String"
                },
                "sink": {
                  "name": "EventType",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "vessel_id",
                  "type": "String"
                },
                "sink": {
                  "name": "VesselId",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "port_id",
                  "type": "String"
                },
                "sink": {
                  "name": "PortId",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "port_name",
                  "type": "String"
                },
                "sink": {
                  "name": "PortName",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "start_time",
                  "type": "DateTime"
                },
                "sink": {
                  "name": "StartTime",
                  "type": "DateTime"
                }
              },
              {
                "source": {
                  "name": "duration_hours",
                  "type": "Decimal"
                },
                "sink": {
                  "name": "DurationHours",
                  "type": "Decimal"
                }
              }
            ]
          }
        },
        "inputs": [
          {
            "referenceName": "GFWEventsAPI",
            "type": "DatasetReference",
            "parameters": {
              "gfwApiToken": "@variables('gfwToken')"
            }
          }
        ],
        "outputs": [
          {
            "referenceName": "FishingEventsTable",
            "type": "DatasetReference",
            "parameters": {
              "preCopyScript": "IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FishingEvents]') AND type in (N'U')) BEGIN CREATE TABLE [dbo].[FishingEvents] ( [EventId] NVARCHAR(100) NULL, [EventType] NVARCHAR(50) NULL, [VesselId] NVARCHAR(100) NULL, [PortId] NVARCHAR(50) NULL, [PortName] NVARCHAR(200) NULL, [StartTime] DATETIME2 NULL, [DurationHours] DECIMAL(18,4) NULL ) END"
            }
          }
        ]
      },
      {
        "name": "GeneratePortAnalysisInsights",
        "type": "SqlServerStoredProcedure",
        "dependsOn": [
          {
            "activity": "LoadFishingEventsToSQL",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 2,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "storedProcedureName": "sp_GeneratePortAnalysisInsights",
          "storedProcedureParameters": {
            "ProcessingDate": {
              "value": {
                "value": "@utcnow()",
                "type": "Expression"
              },
              "type": "DateTime"
            }
          }
        },
        "linkedServiceName": {
          "referenceName": "AzureSqlDatabase",
          "type": "LinkedServiceReference"
        }
      }
    ],
    "parameters": {
      
    },
    "variables": {
      "gfwToken": {
        "type": "String"
      },
      "processingDate": {
        "type": "String",
        "defaultValue": "@formatDateTime(utcnow(), 'yyyy-MM-dd')"
      }
    },
    "folder": {
      "name": "FishingAnalysis"
    },
    "annotations": [
      "fishing",
      "port_visit",
      "investment_analysis",
      "gfw"
    ]
  }
}
